<ion-header  [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" defaultHref="/listado-de-cliente"></ion-back-button>
    </ion-buttons>
    <ion-title >Cliente</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <div class="ion-padding">

    <ion-card class="ion-margin-bottom">
      <ion-icon name="person-outline" color="blue"></ion-icon>
      <ion-card-content>
        <ion-row>
          <ion-col size="12" class="ion-text-center ion-margin-bottom">
            <ion-card-title  >{{descripcion}}</ion-card-title>
            <ion-card-subtitle>{{descripcion2}}</ion-card-subtitle>
            <ion-card-subtitle>
              <span>codigo: </span>
              <span>{{codigo}}</span>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>



    <h6>Direccion</h6>
    <ion-item>
      <ion-textarea disabled="true">{{direccion}}</ion-textarea>
    </ion-item>

    <h6>Telefono</h6>
    <ion-item>
      <ion-label>{{telefono}}</ion-label>
    </ion-item>
    <ion-button color="danger" mode="ios" expand="block" shape="round" *ngIf="showUbi" (click)="openMap(latitude,longitude)">
      <ion-icon slot="start" name="paper-plane-outline"></ion-icon>
      Ver en el Mapa
    </ion-button>

    <ion-button (click)="avisoParaTomarUbicacion()" color="success" mode="ios" expand="block" shape="round" *ngIf="saveUbi">
      <ion-icon slot="start" name="paper-plane-outline"></ion-icon>
        Guardar Ubicacion
    </ion-button>
    <ion-button [disabled]="load" color="primary"  mode="ios" expand="block" shape="round" *ngIf="showUbi && visite!==true" (click)="visitoCliente()">
      <ion-icon slot="start" name="save-outline"></ion-icon>
      Registrar Visita
      <ion-spinner *ngIf="load===true"  name="crescent"></ion-spinner>
    </ion-button>
    <ion-button color="primary" mode="ios" expand="block" shape="round" *ngIf="showUbi && visite===true && upload === true" >
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      Visito: {{getdate(fecha)}}
    </ion-button>
    <ion-button [disabled]="load" color="primary" mode="ios" (click)="updateFechaNube()" expand="block" shape="round" *ngIf="showUbi && visite===true && upload === false" >
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      Visito: {{getdate(fecha)}}
      <ion-icon slot="end" name="warning-outline"></ion-icon>
      <ion-spinner *ngIf="load===true"  name="crescent"></ion-spinner>
    </ion-button>

  </div>
</ion-content>

