<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        icon="chevron-back"
        defaultHref="/listado-de-ruta"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Ruta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <div class="ion-padding">
    <ion-card class="ion-margin-bottom">
      <ion-card-content>
        <ion-row>
          <ion-col size="12" class="ion-margin-bottom">
            <ion-card-title>{{descripcion}}</ion-card-title>

            <ion-card-subtitle
              >Dia de la semana: {{descripcion2}}</ion-card-subtitle
            >
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
  <br />
  <br />
  <br />
  <br />

  <ion-item>
    <ion-label>Clientes de la Ruta</ion-label>
    <ion-button *ngIf="this.puedeAdd" (click)="registerRutaCliente()" slot="end"color="success">+</ion-button>
  </ion-item>

  <ion-list>
    <ion-toolbar  >

      <ion-button slot="start"  color="danger" mode="ios" expand="block" button (click)="createRouteAndOpenMap()" shape="round" >
        <ion-icon   name="paper-plane-outline"></ion-icon>
        Ruta
      </ion-button>
      <ion-button   color="warning" mode="ios" expand="block" button (click)="showInMap()" shape="round" >
        <ion-icon   name="map-outline"></ion-icon>
        Ver
      </ion-button>
      <ion-button slot="end" *ngIf="default==='2'" (click)="updateReorder()" mode="ios" expand="block" button  shape="round">
        <ion-icon name="reorder-four-outline"></ion-icon>
        Reordenar
      </ion-button>
      <ion-button slot="end" *ngIf="default!=='2'" disabled="true" mode="ios" expand="block" button  shape="round">
        <ion-icon name="reorder-four-outline"></ion-icon>
        Reordenar
      </ion-button>
    </ion-toolbar>
    <ion-item>
      <ion-label>Tipo de Busqueda: </ion-label>
      <ion-select [(ngModel)]="default" (ionChange)="selectChanged()"  >
        <ion-select-option value="2">Todos</ion-select-option>
        <ion-select-option *ngFor="let item of estadoVisita " [value]="item.valor">{{item.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-reorder-group (ionItemReorder)="onRenderItems($event)" disabled="false">

      <!-- <ion-item
      button
      *ngFor="let item of results"
      (click)="detailsCliente(item.Codigo)"
    >
      <ion-avatar slot="start">
        <ion-icon name="person-outline" color="blue"></ion-icon>
      </ion-avatar>

      <ion-label text-wrap>
        <h3>{{ item.RazonSocial }}</h3>
        <h4>{{ item.Nombre }}</h4>
        <h4>Codigo: {{ item.Codigo }}</h4>
      </ion-label>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item> -->


    <ion-item-sliding button *ngFor="let item of results"  >
      <ion-item slot="top">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="2">
              <ion-avatar slot="">
                <ion-icon name="person-outline" color="blue"></ion-icon>
              </ion-avatar>
            </ion-col>
            <ion-col size="9">
              <ion-label text-wrap>
                <ion-grid>
                  <ion-row class="ion-align-items-center">
                    <ion-col size="7">
                      <div button

                      (click)="detailsCliente(item.Codigo)">
            <h3>{{ item.RazonSocial }}</h3>
                      <h4>{{ item.Nombre }}</h4>
                      <h4>Codigo: {{ item.Codigo }}</h4>
                      <h4>Ubicacion: {{ item.reg }}</h4>

                      </div>
                    </ion-col>
                    <ion-col size="5">

                        <div  button

                        (click)="detailsCliente(item.Codigo)">

                        <ion-label style="text-align: center;"> Visita

                        </ion-label>
                        <ion-icon  color="success" *ngIf="item.Visito === '1'" name="checkmark-outline"></ion-icon>
                        <ion-icon  color="danger" *ngIf="item.Visito === '0'" name="close-outline"></ion-icon>
                      </div>

                      <ion-button  color="light" (click)="deleteCliente(item.Codigo)"  >Eliminar</ion-button>

                    </ion-col>
                  </ion-row>
                </ion-grid>



              </ion-label>
            </ion-col>
            <ion-col size="1">
              <ion-reorder slot=""></ion-reorder>
            </ion-col>
          </ion-row>
        </ion-grid>








    </ion-item>
      <ion-item-options slot="end">

        <ion-button color="danger" (click)="deleteCliente(item.Codigo)" style="height: auto;" >Eliminar</ion-button>
      </ion-item-options>

    </ion-item-sliding>

    </ion-reorder-group>

  </ion-list>
</ion-content>
